<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>首页</title>

    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <link href="css/fa.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <i class="fas fa-globe"></i>
        星域互联
    </a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="合作方搜索">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">登出</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul id="default" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="fas fa-tachometer-alt fa-fw"></i>&ensp;
                            控制面板
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="projects/index.blade.php">
                            <i class="fas fa-sitemap fa-fw"></i>&ensp;
                            我的项目
                        </a>
                    </li>
                </ul>

                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>系统管理</span>
                    <a class="d-flex align-items-center text-muted" id="settings-extend" href="#">
                        <i class="far fa-minus-square"></i>
                    </a>
                </h6>
                <ul id="settings" class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            <i class="fas fa-users fa-fw"></i>&ensp;
                            用户管理
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-briefcase fa-fw"></i>&ensp;
                            项目管理
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main id="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">用户管理</h1>
            </div>

            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group mr-2" role="group">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-user-plus"></i>
                        新建
                    </button>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info">
                        <i class="fas fa-user-check"></i>
                        申请列表
                    </button>
                </div>

                <form class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入昵称或邮箱...">
                        <div class="input-group-append">
                            <button class="btn btn-success" type="submit">
                                <i class="fas fa-search"></i>
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-hover table-bordered mt-3">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">昵称</th>
                    <th scope="col">邮箱</th>
                    <th scope="col">下属项目</th>
                    <th scope="col">注册时间</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="user-info.html">夕阳</a></td>
                    <td>xy2496419818@gmail.com</td>
                    <td>3</td>
                    <td>三天前</td>
                </tr>
                </tbody>
            </table>

        </main>
    </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.bootcss.com/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>

<script src="js/common.js"></script>
</body>
</html>